{% load static %}<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Election Portal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'candidates/candidate_styles.css' %}">
</head>

<body>
    

<div class="election-header">
    <div class="container header-container">
        <div class="logo-section">
            <img src="{% static 'candidates/images/logo_ecn.png' %}" alt="Election Commission Logo" class="ec-logo">
            
            <div class="language-text">
                <span class="tamil-text">தேர்தல் ஆணைக்குழு</span>
                <span class="separator">/</span>
                <span class="sinhala-text"> මැතිවරණ කොමිෂන් සභාව</span> 
                <span class="separator">/</span>
                <span class="english-text">Election Commission</span>
            </div>
        </div>
    </div>
</div>

<div class="color-strips">
    <div class="strip dark-green"></div>
    <div class="strip orange"></div>
    <div class="strip yellow"></div>
    <div class="strip red-brown"></div>
</div>
    {% block content %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>